/venv
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
.eggs/
*.egg
.env
*.manifest
*.spec
*.log
*.pot
*.mo
*.cache
*.coverage
.coverage.*
.cache/
.tox/
.nox/
.pytest_cache/
htmlcov/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
.pyre/
.pytype/